.navbar {
    height: 80px;
    
    .wrapper {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: 768px) {     
          padding: 10px 20px;     
      }

      @media only screen and (max-width: 480px) {     
        flex-direction: column; 
        align-items: start;
        height: auto;
    }
   
      .item {
        display: flex;
        align-items: center;
        font-size: 18px;
      }
  
      .left {
        display: flex;
        align-items: center;
        gap: 25px;

        @media only screen and (max-width: 768px) {     
          display: none;   
      }

      }
      .center {
        font-size: 30px;
        letter-spacing: 2px;
        @media only screen and (max-width: 768px) {     
          font-size: 24px;   
      }

      @media only screen and (max-width: 480px) {     
        font-size: 20px;  
    }
   
     
      }
      .right {
        display: flex;
        align-items: center;
        gap: 25px;

        @media only screen and (max-width: 768px) {     
          gap: 15px;  
      }
         
        .item{

          .login-btn{
            background-color: #2879fe;
            padding: 8px 12px;
            font-weight: 500;
            border: none;
            outline: none;
            cursor: pointer;
            color: white;
            font-size: 15px;
            transition: all 0.5s ease;
            &:hover{
              background-color: #0c68fc;
            }
          }
          @media only screen and (max-width: 768px) {     
            font-size: 17px; 
        }
        }
  
        .icons {
         
          cursor: pointer;

          .cart-icon{
            position: relative;
            .cart-total-items{
              position: absolute;
              top: 20px;
              right:20px;
            }
          }
       
         
        }
      }
    }
  }